<!DOCTYPE html>
<html>
  <head>
    <title>Trell.at</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/css/main.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <script src="/js/dependencies/jquery-1.11.3.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <meta property="og:image"         content="images/logo_h.png" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--<meta name="author" content="Vicent Girbés <vgirbes@gmail.com>">-->
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="url, shortener, group, grouped, list, url shortener, url list">
    <style type="text/css">
        html, body {
            width:100%;
            height:100%;
        }
        .nav > li > a:hover, .nav > li > a:focus {
            background:#B51C2B;
        }
    </style>
  </head>
  <body class="bg">
    <ul class="nav navbar-nav menulist">
        <li class="dropdown">
            <a id="itemlist" href="#" data-toggle="dropdown" class="dropdown-toggle">List <b class="caret"></b></a>
            <ul id="pagelist" class="dropdown-menu"></ul>
        </li>
    </ul>
    <section id="preview-urls"></section>
    <iframe id="list" frameborder="0" height="100%" width="100%"></iframe>
    <section id="description-msg"></section>
    <div id="navigation">
        <div id="back-position">
            <button class="navigate add-button" id="back" data-page="0" style="display:none;">Back</button>
        </div>
        <div id="next-position">
            <button class="navigate add-button" id="next" data-page="1">Next</button>
        </div>
        <div id="link-position">
            <a id="link" href="#" target="_blank"></a>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var list = [];
            $('#preview-urls').html('');
            $('#pagelist').html('');
            $('#description-msg').html("<%= list[0] %>");
            <%for (var i in list){%>
                list[<%= i %>] = "<%= list[i] %>";
                if (<%= i %> > 0) {
                    <% if (typeof dataURL[i].title != 'undefined') { %>
                        $('#pagelist').append('<li><a href="<%= list[i] %>" target="_blank"><%= dataURL[i].title %></a></li>');
                        $('#pagelist').append('<li class="url-description"><%= dataURL[i].description %></li>');
                    <% } else { %>
                        $('#pagelist').append('<li><a href="<%= list[i] %>" target="_blank"><%= list[i] %></a></li>');
                    <% } %>
                    $('#pagelist').append('<li class="divider"></li>');
                }
            <%}%>
    	    <% if (i == 1) { %>
    		window.location = "<%= list[1] %>";
    	    <% } %>
            $('#pagelist').append('<li><a href="http://trell.at">Go to Trell.at</a></li>');
            $('#description-msg').append('<div class="pageindex">Index<br/><hr></hr><ul class="nav">' + $('#pagelist').html() + '</ul></div>');
            $('.navigate').click(function() {
                var page = parseInt($(this).attr('data-page'));
                if (typeof list[page] != 'undefined' && page > 0) {
                    previewLoad(list, page);
                }
            });
            $('#itemlist').click(function() {
                $('#pagelist').toggle();
            });
        });

        function previewLoad(list, page) {
            var next = page + 1;
            var back = page - 1;
            $('body').removeClass('bg');
            $('#description-msg').hide();
            $('#preview-urls').show();
            $("#list").load(
                list[page],
                function(response, status, xhr) {
                    $('#preview-urls').html('<div class="close-modal" onClick="closeModal();">X</div>');
                    $('#preview-urls').append('Trying to redirect.<br/><a href="' + list[page] + '" target="_blank">Please, click here to view the page</a>');
                    if (status == "success") {
                        $('#preview-urls').hide();
                    } else {
                        $('#preview-urls').show();
                    }
                    $('#list').attr('src', list[page]);
                    $('#link').html(list[page]);
                    $('#link').attr('href', list[page]);
                    $('#back').attr('data-page', back);
                    $('#next').attr('data-page', next);
                    setButtons(list, next, back);
            });
        }

        function setButtons(list, next, back) {
            if (typeof list[next] === 'undefined') {
                $('#next').hide();
            } else {
                $('#next').show();
            }

            if (typeof list[back] === 'undefined' || back == 0) {
                $('#back').hide();
            } else {
                $('#back').show();
            }
        }

        function closeModal() {
            $('#preview-urls').hide();
        }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71957163-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/npm.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
