body {
	font-family: Arial, cursive;
	background-color: #fff;
}

.url-text {
	padding:5px;
	border-color:#ccc;
	border-style:solid;
	border-width:1px;
	width:80%;
	float:left;
	height:40px;
}

.url-text:hover {
	background-color: #fff;
}

.url-text:focus, .description:focus {
	background-color:rgb(249, 245, 187);
}

.delete-button {
	width:30px;
	background-color:#B51C2B;
	color:#fff;
	border-style:none;
	height:40px;
	border-color:#B51C2B;
}

.add-button {
	width:125px;
	color:#fff;
	border-style:none;
	height:40px;
	border-color:#DE7026;
	background-color:#DE7026;
}

.buttons {
	display:block;
	clear:both;
}

.description {
	height:60px;
	width:80%;
	padding:5px;
	border-style:solid;
    border-width:1px;
    border-color:#ccc;
    margin-bottom:20px;
}

.short-button{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.shorten {
	width:80%;
	margin-top:30px;
	height:40px;
}

header {
	display:block;
	font-size:65pt;
	color:rgb(154, 128, 185);
	height:210px;
	width:100%;
	padding:20px;
	text-align:center;
}

#response {
	margin-top:30px;
	font-size:3em;
	color:#DE7026;
}

#web {
	display:table;
	width:80%;
	margin:auto;
}

#cookies {
	display:none;
	position:fixed;
	width:100%;
	padding:5px;
	bottom:0;
	background-color:#BE1E2D;
	color:#fff;
	text-align:center;
}

#cookies a {
	color:#DE7026;
	cursor:pointer;
}

#response a {
	color:#be1e2d;
}

#navigation {
	position:fixed;
	bottom:0;
	padding:20px;
	width:100%;
	opacity:0.9;
	background: -webkit-radial-gradient(farthest-side ellipse at 10% 0, #B51C2B, #DE7026 70%, #B51C2B 120%);
  	background: -o-radial-gradient(farthest-side ellipse at 10% 0, #B51C2B, #DE7026 70%, #B51C2B 120%);
  	background: -moz-radial-gradient(farthest-side ellipse at 10% 0, #B51C2B, #DE7026 70%, #B51C2B 120%);
	background:radial-gradient(farthest-side ellipse at 10% 0, #B51C2B, #DE7026 70%, #B51C2B 120%);
	text-align:center;
	height:90px;
}

#back-position {
	float:left;
}

#next-position {
	float:right;
}

#link-position {
	clear:both;
	width:100%;
}

#link-position a, .menulist a {
	color:#333;
}

#preview-urls {
	position:absolute;
	width:100%;
	height:115px;
	text-align:center;
	padding-top:20px;
	font-size:1.5em;
	background: -webkit-radial-gradient(farthest-side ellipse at 10% 0, #B51C2B, #DE7026 70%, #B51C2B 120%);
  	background: -o-radial-gradient(farthest-side ellipse at 10% 0, #B51C2B, #DE7026 70%, #B51C2B 120%);
  	background: -moz-radial-gradient(farthest-side ellipse at 10% 0, #B51C2B, #DE7026 70%, #B51C2B 120%);
	background:radial-gradient(farthest-side ellipse at 10% 0, #B51C2B, #DE7026 70%, #B51C2B 120%);
	opacity:0.9;
	display:none;
}

#preview-urls a {
	color:#B51C2B;
}

#social {
	width:95px;
	float:left;
}

#list {
	margin-top:auto;
}

.menulist {
	position:absolute;
	top:0;
	left:0;
	z-index:9;
	background-color:#B51C2B;
	padding-left:15px;
	margin-top:auto;
}

.close-modal {
	float:right;
	padding-right:20px;
	cursor:pointer;
}

#description-msg {
	font-size:2em;
	text-align:left;
	padding:20px;
	position:absolute;
	top:60px;
	width:100%;
	height:auto;
	color:#333;
	word-wrap: break-word;
	margin-bottom:100px;
}

#description-msg a {
	color:#DE7026;
}

.pageindex {
	margin-top:20px;
}

.bg {
	background: -webkit-radial-gradient(farthest-side ellipse at 10% 0, #ccc, #fff 70%, #FFF 120%); 
  	background: -o-radial-gradient(farthest-side ellipse at 10% 0, #ccc, #fff 70%, #FFF 120%); 
  	background: -moz-radial-gradient(farthest-side ellipse at 10% 0, #ccc, #fff 70%, #FFF 120%); 
	background:radial-gradient(farthest-side ellipse at 10% 0, #ccc, #fff 70%, #FFF 120%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.url-description {
	margin-left:16px;
	font-size:20px;
}

#pagelist .url-description {
	display:none;
}